<a href="https://colab.research.google.com/github/nameer1811/module1_lectures/blob/main/1_3_expressions_and_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Expressions and Functions

## Objectives

1. Introduce basic Python expressions for transforming data
    1. Arithmetic
    2. Boolean
2. Use the conditional expression for situational expressions

## Expressions and Statements

* Two types of Python code
* **statements** "Do this"
    * Does not return/evaluate to a value
    * Often contain expressions
* **expressions** "Compute this value"
    * Allows returns data
* I prefer expressions

In [1]:
sum([1,2,3]) # expression (returns 6)

6

In [2]:
x = sum([1,2,3]) # assignment statement (no value)

In [3]:
x # Expression (returns value assigned to x)

6

## Arithmetic operations

In [4]:
2 + 3.5

5.5

In [5]:
2 - 3.5

-1.5

In [6]:
2*3.5

7.0

In [7]:
2/3 # True division

0.6666666666666666

In [8]:
10//3 # Integeer division

3

In [9]:
10 % 3 # Mod/remainder

1

In [10]:
2 ** 3 # Powers!

8

In [11]:
2 ^ 3 # BEWARE: bitwise exclusive or

1

<font color="red"><h2>Exercise 1.3.1 </h2></font>

The hour hand is pointing at 8, what will it point to in 57 hours?

In [18]:
#Used 0800 since no am/pm mentioned. 24 hour clock assumed
(8+57)%24
#Time is 17 which is 5 PM.

17

### <font color="red"> Exercise 1.3.2</font>
Investigate which operations can be applied to two strings, say `"a"` and `"b"`.

In [20]:
"a" + "b"

'ab'

In [21]:
"a" - "b"

TypeError: ignored

In [22]:
"a" * "b"

TypeError: ignored

In [23]:
"a" / "b"

TypeError: ignored

In [24]:
"a" // "b"

TypeError: ignored

In [25]:
"a" % "b"

TypeError: ignored

In [26]:
"a" ** "b"

TypeError: ignored

In [27]:
"a" ^ "b"

TypeError: ignored

> Only "+" operation works on strings "a" and "b"

### <font color="red"> Exercise 1.3.3 </font>

Investigate various operations on `2` and `"a"`

In [28]:
2 + 3.0

5.0

In [29]:
2 + "a"

TypeError: ignored

In [30]:
2 - "a"

TypeError: ignored

In [31]:
2 * "a"

'aa'

In [32]:
2 / "a"

TypeError: ignored

In [33]:
2 // "a"

TypeError: ignored

In [34]:
2 % "a"

TypeError: ignored

In [35]:
2 ** "a"

TypeError: ignored

In [36]:
2 ^ "a"

TypeError: ignored

> Only "*" operation works on number 2 and string "a"

## Boolean operations

- **Boolean expressions** evaluate to True or False
- **Boolean operations** answer Yes/No questions

## Comparison operators

In [37]:
(2 == 3, 2 < 3, 2 <= 3, 2 != 3)

(False, True, True, True)

## Container operations

In [38]:
2 in [1,2,3]

True

In [39]:
"a" in "Todd"

False

In [40]:
"t" not in "Todd"

True

In [41]:
2 in [1, [2, 3]]

False

### <font color="red"> Exercise 1.3.4</font>

Why does `2 in [1, [2, 3]]` to `False`?

> The "in" operator only works in the outmost level. So the list inside the list would not work for the "in" operator and hence return "False". In does not recurrsively go down all the way to the bottom

## Combining boolean expressions

- Use `and`, `or`, and `not`

In [46]:
x, name = 5, "Todd"
x % 2 == 1 and "a" in "Todd"

False

In [47]:
x % 2 == 1 or "a" in "Todd"

True

In [48]:
not 2 < 3

False

## Conditional Expression

* Syntax:

In [49]:
true_val if boolean_condition else false_value

NameError: ignored

In [50]:
"Has t" if "t" in "Todd" else "No t"

'No t'

## Evaluating the conditional expression

<img src="https://github.com/nameer1811/module1_lectures/blob/main/img/cond_expr_1.png?raw=1" width=400 />

### <font color="red"> Exercise 1.3.5</font>

Evaluate `"Yes" if (5 <= x < 10) and (x % 2 == 1) else "No"`

1. By hand
2. With Python

1. Evaluate by hand: We already declared x to be 5 in previous cells. So now we check if x is number greater or equals to 5 and less than 10, and is it an odd number.Since x is 5 as mentioned previously, we will print "Yes".

In [51]:
# Evaluate with Python
"Yes" if (5 <= x < 10) and (x % 2 == 1) else "No"

'Yes'